
.project {
	position: relative;

	.preview {
		padding: 2rem;

		.heading {
			position: absolute;
			left: 32%;
			top: -1rem;

			display: flex;
			justify-content: space-between;
			align-items: baseline;
			width: 40rem;

			.title {
				font-family: 'League Spartan';
				font-size: 3.2rem;
			}

			.info {
				font-size: 1.3rem;
			}
		}

		img {
			width: 100%;
		}


		&.left {
			float: left;
		}

		&.right {
			float: right;
		}


		&.add-top {
			padding-top: 26rem;
		}

		&.landscape {
			width: 50rem;

			&.sm {
				width: 35rem;
			}

			&.md {
				width: 45rem;
			}
		}

		&.portrait {
			width: 30rem;
		}
	}

}