
.project {
	position: relative;

	&-padding {
		padding-top: 20rem;
	}

	.preview {
		padding: 2rem;

		.heading {
			position: absolute;
			left: 32%;
			top: -1rem;

			display: flex;
			justify-content: space-between;
			align-items: baseline;
			width: 40rem;

			.title {
				font-family: 'League Spartan';
				font-size: 3.2rem;
			}

			.info {
				font-size: 1.3rem;
				font-family: 'PT Mono';
			}
		}

		img {
			width: 100%;
			border-radius: 4px;
			position: relative;
			bottom: 0;
			transition: all 200ms ease-out;
			-webkit-transition: all 200ms ease-out;
			-moz-transition: all 200ms ease-out;

			&:hover {
				box-shadow: 0px 5px 16px rgba(33,33,33,0.07);
				cursor: pointer;
			}

			&.expand {
				box-shadow: none;
				position: fixed;
				top: 15% !important;
				left: 15% !important;	
				width: 75% !important;
				z-index: 10;
			}

			&.transitions {
				transition: all 200ms ease-out !important;
				-webkit-transition: all 200ms ease-out !important;
				-moz-transition: all 200ms ease-out !important;
			}
		}


		&.left {
			float: left;
		}

		&.right {
			float: right;
		}


		&.add-top {
			padding-top: 26rem;
		}

		&.add-right {
			padding-right: 5rem;
		}

		&.landscape {
			width: 50rem;

			&.sm {
				width: 35rem;
			}

			&.md {
				width: 45rem;
			}
		}

		&.portrait {
			width: 30rem;
		}
	}

}