$purple: #564589;
$red: #f53a5d;
$blue: #2ea1f7;

html, body {
	height: 100%;
}

.container.hero {
	max-width: 420px;
	height: 90vh;
}

.container.content {
	margin-top: 5rem;
	margin-bottom: 40rem;
}


@import 'hero';
@import 'project';
@import 'album';

