extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/home.css')
block localscripts
	script(src='js/home.js')
block content
	.container.hero
		.flex-container
			div STUDIO
			.info
				include ../public/img/i-icon.svg
			div EST. 2017
		.title CRAFTED
		.line
		ul.set-list
			li <a href='#snow-hugs'>01&nbsp;&nbsp;Snow Hugs</a>
			li <a href='#retro'>02&nbsp;&nbsp;Retro</a>
			li <a href='#marshbank-park'>03&nbsp;&nbsp;Marshbank Park</a>
		.arrow
			.flex-center
				a(href='#sets')
					.arrow-down
	.container.content.project
		.preview.left.landscape
			img(src='img/SnowHugs/1.jpg')
			.heading
				.title Snow Hugs
				.info Dec. 2016
				.info 6 Photos
		.preview.right.landscape.sm.add-top
			img(src='img/SnowHugs/2-highres.jpg')
		.preview.right.landscape.md
			img(src='img/SnowHugs/4-highres.jpg')