extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/home.css')
block localscripts
	script(src='js/home.js')
block content
	.container.hero
		.flex-container
			div STUDIO
			.info-icon i
			div EST. 2017
		.title CRAFTED
		.line
		ul.set-list
			li <a href='#snow-hugs'>01&nbsp;&nbsp;Snow Hugs</a>
			li <a href='#retro'>02&nbsp;&nbsp;Retro</a>
			li <a href='#marshbank-park'>03&nbsp;&nbsp;Marshbank Park</a>
		.flex-center.arrow
			a(href='#sets')
				.arrow-down