extends layout

block localcss
	link(rel='stylesheet' type='text/css' href='css/home.css')
block localscripts
	script(src='js/home.js')
block content
	.container.hero
		.flex-container
			.left STUDIO
			.center i-icon
			.right EST. 2017
		.title CRAFTED
		.line
		.set-list
			ul
				li 01 Snow Hugs
				li 02 Retro
				li 03 Marshbank Park
		.arrow-down