.container.hero {
  max-width: 420px; }

.hero {
  margin-top: 20rem; }
  .hero .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .hero .flex-container > div {
      font-family: 'League Spartan';
      font-size: 2rem; }
    .hero .flex-container .info-icon {
      font-size: 1.4rem;
      border: 2px solid #000;
      border-radius: 3rem;
      height: 2.3rem;
      width: 2.3rem;
      margin-top: -0.5rem;
      line-height: 2.6rem;
      text-align: center; }
  .hero .title {
    font-family: 'DIN Condensed';
    font-size: 16rem;
    margin-left: -0.8rem;
    margin-top: 1rem; }
    .hero .title::after {
      content: 'CRAFTED';
      opacity: 0.1;
      position: absolute;
      top: 5.3rem;
      left: 0.5rem; }
  .hero .line {
    height: 2px;
    background-color: black;
    width: 100%; }
  .hero .set-list {
    font-family: 'PT Mono';
    font-size: 2.3rem;
    line-height: 5rem;
    list-style: none;
    padding: 0;
    margin-top: 5rem; }
    .hero .set-list li a {
      color: black;
      text-decoration: none; }
    .hero .set-list li a:hover {
      cursor: pointer;
      color: #f53a5d; }
  .hero .flex-center {
    display: flex;
    justify-content: center; }
    .hero .flex-center.arrow {
      bottom: 10rem; }
    .hero .flex-center a:hover {
      margin-top: 0.5rem;
      cursor: hover; }

.arrow-down {
  margin: 2rem;
  width: 10px;
  height: 10px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(-45deg); }
