html, body {
  height: 100%; }

.container.hero {
  max-width: 420px;
  height: 90vh; }

.container.content {
  margin-top: 40rem;
  margin-bottom: 40rem; }

.hero {
  padding-top: 15rem; }
  .hero .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .hero .flex-container > div {
      font-family: 'League Spartan';
      font-size: 2rem; }
    .hero .flex-container .info {
      width: 2.6rem;
      height: 2.5rem;
      margin-right: -1rem;
      margin-top: -0.1rem; }
      .hero .flex-container .info:hover {
        cursor: pointer;
        opacity: 0.5; }
  .hero .title {
    font-family: 'DIN Condensed';
    font-size: 16rem;
    margin-left: -0.8rem;
    margin-top: 1rem;
    position: relative; }
    .hero .title::after {
      content: 'CRAFTED';
      color: #564589;
      opacity: 0.1;
      position: absolute;
      top: 1.2rem;
      left: 1.2rem; }
  .hero .line {
    height: 2px;
    background-color: black;
    width: 100%; }
  .hero .set-list {
    font-family: 'PT Mono';
    font-size: 2.3rem;
    line-height: 5rem;
    list-style: none;
    padding: 0;
    margin-top: 5rem; }
    .hero .set-list li a {
      color: black;
      text-decoration: none; }
    .hero .set-list li a:hover {
      cursor: pointer;
      color: #f53a5d; }
  .hero .arrow {
    position: absolute;
    bottom: 0;
    width: 100%; }
    .hero .arrow .flex-center {
      display: flex;
      justify-content: center; }
      .hero .arrow .flex-center a:hover {
        margin-bottom: -0.5rem;
        cursor: hover; }
    .hero .arrow .arrow-down {
      margin: 2rem;
      width: 10px;
      height: 10px;
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      transform: rotate(-45deg); }

.project {
  position: relative; }
  .project .column {
    height: 100%;
    position: absolute; }
    .project .column.left {
      width: 50%; }
    .project .column.center {
      width: 10%;
      margin-left: 45%; }
    .project .column.right {
      width: 50%;
      margin-left: 50%; }
    .project .column .stick-right {
      position: absolute;
      right: 0; }
    .project .column .stick-right {
      position: absolute;
      left: 0; }
  .project .preview {
    position: relative; }
    .project .preview .heading {
      position: absolute;
      right: -20rem;
      top: -2.4rem;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 40rem; }
      .project .preview .heading .title {
        font-family: 'League Spartan';
        font-size: 3.2rem; }
      .project .preview .heading .info {
        font-size: 1.3rem; }
    .project .preview img {
      width: 100%; }
    .project .preview.landscape {
      width: 50rem; }
    .project .preview.portrait {
      width: 30rem; }
